/* Write your global styles here, in PostCSS syntax */

@font-face {
	/* Reference name */
	font-family: 'Exo';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/Exo-VariableFont_wght.ttf');
}
							
:root {
    --theme-font-family-base: 'Exo', sans-serif;
    --theme-font-family-heading: 'Exo', sans-serif;
    /* ... */
}
                        	